In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [34]:
data = pd.read_csv("E:/Евгений Семенов/movie_bd_v5.csv")
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1305,tt2034139,5000000,15179302,The Last Exorcism Part II,Ashley Bell|Julia Garner|Andrew Sensenig|Spenc...,Ed Gass-Donnelly,The second coming,As Nell Sweetzer tries to build a new life aft...,88,Horror|Thriller,StudioCanal|CBS Films,2/28/2013,4.5,2013
1266,tt2002718,12000000,15008161,Machete Kills,Danny Trejo|Mel Gibson|Amber Heard|Michelle Ro...,Robert Rodriguez,Trained to kill. Left for dead. Back for more.,Ex-Federale agent Machete is recruited by the ...,107,Action|Crime|Thriller,Open Road Films|Overnight Films|AR Films|Aldam...,9/12/2013,5.2,2013
1137,tt0264395,50000000,42792561,Basic,John Travolta|Connie Nielsen|Samuel L. Jackson...,John McTiernan,Deception is their most deadly weapon.,A DEA agent investigates the disappearance of ...,98,Action|Drama|Mystery|Thriller|Crime,Intermedia Films|Krane Entertainment,4/18/2003,6.0,2003
1135,tt0306685,25000000,56489558,Cradle 2 the Grave,Jet Li|DMX|Kelly Hu|Anthony Anderson|Tom Arnold,Andrzej Bartkowiak,Mortal enemies make dangerous friends.,Gang leader Tony pulls off a major diamond hei...,101,Action|Crime|Drama,Silver Pictures|Warner Bros.,2/28/2003,5.9,2003
489,tt1013860,20000000,4634062,Dylan Dog: Dead of Night,Brandon Routh|Peter Stormare|Sam Huntington|Ta...,Kevin Munroe,No pulse? No problem,"The adventures of supernatural private eye, Dy...",107,Action|Comedy|Horror|Mystery|Science Fiction,Hyde Park Films|platinum studios|Long Distance...,10/26/2010,4.9,2010

In [32]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [62]:
answers = {}
answers['1'] = data[data['budget'] == data['budget'].max()][['imdb_id' , 'budget', 'original_title']]
display(answers['1'])

       imdb_id     budget                               original_title
723  tt1298650  380000000  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [9]:
data = pd.read_csv("E:/Евгений Семенов/movie_bd_v5.csv")
data[data.budget == data.budget.max()][['imdb_id', 'budget']]

       imdb_id     budget
723  tt1298650  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [36]:
answers = {}
data = pd.read_csv("E:/Евгений Семенов/movie_bd_v5.csv")
answers['2'] = data[data['runtime'] == data['runtime'].max()][['imdb_id','runtime','original_title']]
display(answers['2'])

        imdb_id  runtime     original_title
1157  tt0279111      214  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [37]:
answers = {}
data = pd.read_csv("E:/Евгений Семенов/movie_bd_v5.csv")
answers['3'] = data[data['runtime'] == data['runtime'].min()][['imdb_id', 'runtime', 'original_title']]
display(answers['3'])

       imdb_id  runtime   original_title
768  tt1449283       63  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [38]:
answers = {}
answers['4'] = data['runtime'].mean()
display(answers['4'])

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [39]:
answers = {}
answers['5'] = data['runtime'].median()
display(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [40]:
answers = {}
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data[data['profit'] == data['profit'].max()][['imdb_id', 'runtime', 'original_title']]
display(answers['6'])

       imdb_id  runtime original_title
239  tt0499549      162         Avatar

# 7. Какой фильм самый убыточный?

In [41]:
answers = {}
answers['7'] = data[data['profit'] == data['profit'].min()][['imdb_id', 'runtime', 'original_title']]
display(answers['7'])

        imdb_id  runtime   original_title
1245  tt1210819      149  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [42]:
answers = {}
answers['8'] = data[data['revenue'] > data['budget']]['imdb_id'].nunique()
display(answers['8'])
# ИЛИ
answers['8'] = len(data[data['revenue'] > data['budget']]['imdb_id'])
display(answers['8'])

1478

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [43]:
answers = {}
data_year_9 = data[(data['release_year'] == 2008)].copy()
answers['9'] = data_year_9[data_year_9['profit'] == data_year_9['profit'].max()][['imdb_id', 'runtime', 'original_title']]
display(answers['9'])

       imdb_id  runtime   original_title
599  tt0468569      152  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [44]:
answers = {}
data_year_10 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].copy()
answers['10'] = data_year_10[data_year_10['profit'] == data_year_10['profit'].min()][['imdb_id', 'runtime', 'original_title']]
display(answers['10'])

        imdb_id  runtime   original_title
1245  tt1210819      149  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [45]:
answers = {}
genres_count = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()
answers['11'] = genres_count.idxmax()
display(answers['11'])

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [46]:
answers = {}
genres_profit = pd.Series(data[data['profit'] > 0]['genres'].str.cat(sep='|').split('|')).value_counts()
answers['12'] = genres_profit.idxmax()
display(answers['12'])

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [47]:
answers = {}
director_rvn_max = pd.Series(data.groupby(['director'])['revenue'].sum().sort_values(ascending=False))
answers['13'] = director_rvn_max.idxmax()
display(answers['13'])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [48]:
answers = {}
film_action = pd.Series(data[data.genres.str.contains('Action')].director.str.split('|').explode()).value_counts()
answers['14'] = film_action.idxmax()
display(answers['14'])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [49]:
answers = {}
data_15 = data[data['release_year'] == 2012][['imdb_id', 'cast', 'original_title', 'revenue']].copy()
data_15['actors'] = data_15.cast.str.split('|')
data_15_actors = pd.Series( data_15.explode('actors').groupby(['actors'])['revenue'].sum().sort_values(ascending=False))
answers['15'] = data_15_actors.idxmax()
display(answers['15'])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [50]:
answers = {}
data_16 = data[data['budget'] > data['budget'].mean()][['imdb_id', 'cast', 'original_title', 'budget', 'revenue']].copy()
data_16['actors'] = data_16.cast.str.split('|')
data_16_actors = pd.Series(data_16.explode('actors').value_counts(subset='actors'))
answers['16'] = data_16_actors.idxmax()
display(answers['16'])

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [51]:
answers = {}
data_17 = data[data.cast.str.contains('Nicolas Cage')][['imdb_id', 'genres']].copy()
data_17_actor = data_17.genres.str.split('|').explode().value_counts()
answers['17'] = data_17_actor.idxmax()
display(answers['17'])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [52]:
answers = {}
data18 = data[(data.production_companies.str.contains('Paramount Pictures'))][['imdb_id', 'original_title', 'profit']].copy()
answers['18'] = data18[data18['profit'] == data18['profit'].min()]
display(answers['18'])

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [53]:
answers = {}
data19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
answers['19'] = data19.idxmax()
display(answers['19'])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [54]:
answers = {}
data20 = data[data.production_companies.str.contains('Warner Bros')][['imdb_id', 'original_title', 'profit', 'release_year']].copy()
data20_max = data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answers['20'] = data20_max.idxmax()
display(answers['20'])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
answers = {}
data_21 = data[['imdb_id', 'original_title', 'release_date']].copy()
data_21['mouth'] = pd.DatetimeIndex(data_21['release_date']).month
data21_max = data_21.value_counts(subset='mouth').sort_values(ascending=True)
answers['21'] = data21_max.idxmax()
display(answers['21'])

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [56]:
answers = {}
data_22 = data[['imdb_id', 'original_title', 'release_date']].copy()
data_22['mouth'] = pd.DatetimeIndex(data_21['release_date']).month
data22_list = data_21.value_counts(subset='mouth').sort_values(ascending=True)
answers['22'] = data21_max[6] + data21_max[7] + data21_max[8]
display(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
answers = {}
data_23 = data[['imdb_id', 'director', 'release_date']].copy()

data_23['mouth'] = pd.DatetimeIndex(data_23['release_date']).month
data_23['directors'] = data_23.director.str.split('|')
data_23 = data_23.explode('directors')
data_23_ans = data_23[(data_23['mouth'] == 1) | (data_23['mouth'] == 2) | (data_23['mouth'] == 12)].value_counts(subset='directors')
answers['23'] = data_23_ans.idxmax()
display(answers['23'])

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
answers = {}
data_24 = data[['imdb_id', 'production_companies', 'original_title']].copy()

data_24['title_len'] = data_24['original_title'].map(lambda X : len(X) )
data_24['company'] = data_24.production_companies.str.split('|')
data_24 = data_24.explode('company')
data_24_ans = data_24.groupby(['company'])['title_len'].mean().sort_values(ascending=False)
answers['24'] = data_24_ans.idxmax()
display(answers['24'])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers = {}
data_25 = data[['imdb_id', 'production_companies', 'overview']].copy()

data_25['overview_len'] = data_25['overview'].map(lambda X : len(X) )
data_25['company'] = data_25.production_companies.str.split('|')
data_25 = data_25.explode('company')
data_25_ans = data_25.groupby(['company'])['overview_len'].mean().sort_values(ascending=False)
answers['25'] = data_25_ans.idxmax()
display(answers['25'])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers = {}
data_26 = data[['imdb_id', 'original_title', 'vote_average']].copy()
data_26_rating = data_26.sort_values('vote_average', ascending=False).iloc[0:20][['original_title', 'vote_average']]
answers['26'] =data_26_rating
display(answers['26'])

#ИЛИ - расчет срежнего значения по кажддой выборке 
rating_1 = data_26.sort_values('vote_average', ascending=False).iloc[0:][['original_title', 'vote_average']]
rat_1 = rating_1[(rating_1['original_title'] == 'Inside Out') | (rating_1['original_title'] == 'The Dark Knight') |  (rating_1['original_title'] == '12 Years a Slave ')]['vote_average'].mean()
rat_2 = rating_1[(rating_1['original_title'] == 'BloodRayne') | (rating_1['original_title'] == 'The Adventures of Rocky & Bullwinkle')]['vote_average'].mean()
rat_3 = rating_1[(rating_1['original_title'] == 'Batman Begins') | (rating_1['original_title'] == 'The Lord of the Rings: The Return of the King') | (rating_1['original_title'] == 'Upside Down')]['vote_average'].mean()
rat_4 = rating_1[(rating_1['original_title'] == '300') | (rating_1['original_title'] == 'Lucky Number Slevin') | (rating_1['original_title'] == 'Kill Bill: Vol. 1')]['vote_average'].mean()
rat_5 = rating_1[(rating_1['original_title'] == 'Upside Down') | (rating_1['original_title'] == 'Iron Man') | (rating_1['original_title'] == 'Inside Out')]['vote_average'].mean()
print(rat_1)
print(rat_2)
print(rat_3)
print(rat_4)
print(rat_5)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8
1688                            There Will Be Blood           7.8

8.05
3.9
7.099999999999999
7.3
7.133333333333333

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [61]:
answers = {}
from itertools import combinations
data_27 = data[['imdb_id', 'original_title', 'cast']].copy()

combs = []
for cast in data_27.cast.str.split('|'):
    combs.extend(combinations(cast, 2))
data_27_ans = pd.Series(combs).value_counts()
answers['27'] = data_27_ans.head()
display(answers['27'])

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
dtype: int64

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)